.donation-page {
    text-align: center;
}

.organizations-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.organization {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

.accepted-items {
    margin-top: 10px;
    padding-left: 0;
    list-style: none;
}

.accepted-items li {
    margin-bottom: 5px;
}
