/* cart */
.main-cart-card {
    width: 1200px;
    margin: 50px auto;
    top: 30px;
    display: flex;
    justify-content: space-between;
}
.card-info {
    width: 30%;
}
.card-delivery{

}
.card-payment{

}
.card-cart {
    width: 65%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 20px;
}
.card-cart .fc-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
    color: #1E1E1E;
}
.card-cart .empty{
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-cart .item{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.card-cart .item img{
    width: 99px;
    min-height: 100px;
    max-height: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}

.card-cart .item h2{
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    color: #1E1E1E;
    cursor: pointer;
}

.card-cart .item b{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 33px;
    color: #1E1E1E;
}

.card-cart .item .delete-icon{
    color: #76a6a6;
    float: right;
    position: relative;
    top: -15px;
    cursor: pointer;
    transition: color transform 500ms ease;
}

.card-cart .item .delete-icon:hover{
    color: #d94d4d;
    transform: scale(1.3);
}

.card-cart .cart-price{
    float: right;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.card-info-title{
    font-weight: 600;
    font-size: 23px;
    color: #1E1E1E;
}
.card-delivery {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.card-delivery label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.card-delivery input[type="text"] {
    width: 100%;
    border: 1px solid #C1DCDC;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 5px;
}

.card-payment {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.card-payment button {
    background-color: #7dc2c2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.card-payment button:hover {
    background-color: #3e8e41;
}