.admin-main-dash{
    width: 1000px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

}
/****************************************************/
/*admin-dashboard-left*/
/****************************************************/
.admin-profile-left{
    width: 30%;

}

/****************************************************/
/*admin-dashboard-dash*/
/****************************************************/

.admin-profile-dash {
    height: 310px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-profile-dash img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.admin-profile-dash p {
    text-align: center;
    margin-bottom: 5px;
}

.admin-profile-dash .email {
    font-weight: bold;
}

.admin-profile-dash .location {
    font-style: italic;
}


/****************************************************/
/*list-of-separation*/
/****************************************************/
.list-of-separation{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.list-of-separation .buttn {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #000000;
    border: none;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.list-of-separation .buttn:hover {
    background-color: #9cc2c2;
    color: #000000;
}

/****************************************************/
/*list-of-productsn*/
/****************************************************/
.admin-content{
    width: 69%;
    padding: 20px;
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
}

.admin-content .details-form {
    margin-top: 20px;
}

.admin-content .details-form .form-row {
    margin-bottom: 10px;
}

.admin-content .details-form .form-row label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.admin-contents .details-form .form-row input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.admin-content .details-form .date-inputs {
    display: flex;
}

.admin-content .details-form .date-inputs input {
    width: 70px;
    margin-right: 5px;
}
.save-changes {
    margin-top: 10px;
    background-color: #f2f2f2;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-changes:hover {
    background-color: #ddd;
}


.admin-content h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/*manage-category*/
.manage-category-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.manage-category-container h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.centered-content {
    text-align: center;
}

.add-category h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-category input[type="text"] {
    width: 400px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #C1DCDC;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-right: 25px;
}

.add-category button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #7dc2c2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-category button:hover {
    background-color: #6dcccc;
}

.category-details input[type="text"] {
    width: 200px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.category-actions button {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #6dcccc;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.category-actions button:hover {
    background-color: #7dc2c2;
}

.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.category-details {
    font-size: 16px;
}

.category-actions {
    display: flex;
    align-items: center;
}

.edit-icon,
.delete-icon {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.edit-icon:hover{
    color: #7dc2c2;
}

.delete-icon:hover {
    color: #e73b3b;
}

/*manage-users*/
.manage-users-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.manage-users-container h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.user-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.user-details {
    font-size: 16px;
}

.user-details span {
    display: block;
}

.user-email {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

.user-actions {
    display: flex;
    align-items: center;
}

.delete-icon {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.delete-icon:hover {
    color: #e73b3b;
}

/*manage products*/
.manage-products-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.manage-products-container h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.product-details {
    display: flex;
    align-items: center;
}

.product-details img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 7px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
}

.product-price {
    font-size: 14px;
    color: #777;
}

.product-actions {
    display: flex;
    align-items: center;
}

.delete-icon {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.delete-icon:hover {
    color: #e73b3b;
}