@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');


/* index styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

main {
    width: 1200px;
    margin: 0 auto;
}

body {
    background: #ffffff;
    color: #222;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

/* Header styles */
header {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

/* Left side styles */
header .left-side {
    display: flex;
    align-items: center;
}

/* Logo styles */
header .logo {
    height: 40px;
    margin-right: 8px;
    cursor: pointer;
}

/* Details styles */
header .details {
    display: flex;
    flex-direction: column;
}

/* Name styles */
header .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

/* Motto styles */
header .motto {
    font-size: 12px;
    color: #999;
}

/* Center styles */
header .center {
    text-align: center;
    font-size: 17px;
    margin-right: 250px;
}

/* Navigation styles */
header .nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

header .nav li {
    margin-right: 14px;
    cursor: pointer;
}

/* Right side styles */
header .right-side {
    display: flex;
}

/* Profile image styles */
header .right-side img {
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    margin-left: 20px;
}

/* Other icon styles */
header .right-side .fav,
.login-icon,
.shop-cart-button {
    width: 20px;
    margin-left: 20px;
    cursor: pointer;
}

/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/* home */

.home .presentation{
    margin: 50px 0;
    background: url('./img/app2.jpeg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    text-align: center;
}

.home .presentation::after{
    content: 'Buy and Sell';
    position: absolute;
    top: 250px;
    left: 535px;
    width: 400px;
    font-size: 50px;
    font-weight: 600;
    color: #000000;
}

.home .presentation::before{
    content: 'AT LOW PRICES';
    position: absolute;
    top: 350px;
    left: 580px;
    width: 300px;
    font-size: 25px;
    font-weight: 300;
    color: #000000;
}
.home .presentation-btn{
    position: absolute;
    padding: 10px;
    top: 420px;
    left: 625px;
    width: 200px;
    border: 1px solid #C1DCDC;
    border-radius: 7px;
    cursor: pointer;

}
.home button {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #C1DCDC;
    color: #1E1E1E;
    border: none;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.home button span {
    margin-right: 5px;
    font-size: 18px;
    font-weight: 300;
    vertical-align: middle;
}

.home button .tbnarrow {
    font-size: 18px;
    vertical-align: middle;
}
.home button:hover {
    background-color:#afcccc;
}

/* home items */
.home .items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
}
.home .item-image-container {
    position: relative;
    text-align: center;
    background-color: #ffffff;
}

.home .item-image-container .fav {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ec8a8a;
    font-size: 30px;
    cursor: pointer;
}

.home .items .item{
    width: 31%;
    margin-bottom: 50px;
    margin-left: 20px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

.home .items .item img {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    transition: transform 500ms ease;
    max-height: 370px;
    min-height: 370px;
}

.home .items .item img:hover{
    transform: scale(1.05);
}
.home .items h2{
    margin: 10px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    color: #1E1E1E;
    cursor: pointer;
}
.home .items p, .items b{
    margin: 10px 20px;
    color: #333;
}
.home .items b{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.5);
}

.home .items .add-to-cart{
    position: absolute;
    right: 20px;
    bottom: 35px;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 35px;
    color: rgba(0, 128, 128, 0.86);
    cursor: pointer;
    font-weight: 600;
    transition: tranform 500ms ease;
}

.home .items .add-to-cart:hover{
    transform: scale(1.05) translateY(-5px);
}

.home .team {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .team .team-content {
    display: flex;
    align-items: center;
}

.home .team .team-image {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .team .team-image img {
    height: 500px;
    width: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.home .team .team-text {
    width: 45%;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
}




/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/* about us*/
.about-main{
    width: 1200px;
    margin: 50px auto;
}

.about{
    width: 1200px;
    margin: 50px auto;
}
.about .presentation{
    margin: 50px 0;

    /*background: url('./img/about.png') no-repeat;*/
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-color: #C1DCDC;
    border-radius: 15px;
}

.about .presentation::after{
    content: 'Who we are?';
    position: absolute;
    top: 378px;
    left: 320px;
    width: 300px;
    font-size: 50px;
    font-weight: 600;
    color: black;
}


.about .presentation::before{
    content: '';
    position: absolute;
    top: 480px;
    left: 200px;
    width: 300px;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}

.about .presentation .img-about{
    width: 43%;
    margin-top: -395px;
    margin-left: 650px;
}

.about .presentation .vector1{
    width: 50%;
    margin-top: 20px;
    margin-left: 40px;
}

.about .presentation .vector2{
    width: 20%;
    margin-top: 180px;
    margin-left: -200px;
}

.about .presentation .vector3{
    width: 17%;
    margin-top: 20px;
    margin-left: 30px;
}

.about .presentation .row{
    box-sizing: border-box;
    content: "";
    clear: both;
    display: table;
}

.about .presentation .column1 {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.about p{
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin-left: 500px;
}

.about .card-group{
    width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.about .card-group .card1 {
    height: 396px;
    width: 312px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 2px 15px #888888;
}

.about .card-group .card2 {
    height: 396px;
    width: 312px;
    background-color: white;
    border-radius: 10px;
    margin-left: 12%;
    margin-right: 12%;
    box-shadow: 0px 2px 15px #888888;
}

.about .card-group .card3 {
    height: 396px;
    width: 312px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 2px 15px #888888;
}

.about .rediscovering-the-charm-of-the-p {
    color: #000;
    align-self: center;
    margin-bottom: 35px;
    font-size: 2rem;
    display: flex;
    margin-top: 20px;
    text-align: center;
    line-height: 1.5;
}

.about .we-believe-that-every-vintage-pi {
    align-self: center;
    margin-bottom: 32px;
    font-weight: 300;
    text-align: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 2;
    opacity: 0.3;
}

.sustainability-style-and-soul {
    color: #000;
    align-self: center;
    margin-bottom: 35px;
    font-size: 2rem;
    display: flex;
    margin-top: 20px;
    text-align: center;
    line-height: 1.5;
}

.about .by-choosing-vintage-and-second-h {
    align-self: center;
    margin-bottom: 32px;
    font-weight: 300;
    text-align: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 2;
    opacity: 0.3;
}

.about .quality-authenticity-and-service {
    color: #000;
    align-self: center;
    margin-bottom: 35px;
    font-size: 2rem;
    display: flex;
    margin-top: 20px;
    text-align: center;
    line-height: 1.5;
}

.about .we-carefully-curate-our-collecti {
    align-self: center;
    margin-bottom: 32px;
    font-weight: 300;
    text-align: center;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 2;
    opacity: 0.3;
}

.about .team{
    display: flex;
    width: 1200px;
    margin: 50px auto;
}

.about .team-image{
    width: 60%;
}

.about .team-image img{
    width: 80%;
}

.about .team-text{
    text-align: center;
    align-self: center;
    margin-top: 17px;
    line-height: 2.2;
    width: 30%;
    font-size: 22px;
}



/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/* footer */
footer {
    background-color: #C1DCDC;
    padding: 40px;
    width: 100%;
}

footer .container{
    max-width: 1200px;
    margin: auto;
}

footer .row{
    display: flex;
    flex-wrap: wrap;
}

footer ul{
    list-style: none;
}

footer .footer-col{
    width: 25%;
    padding: 0 15px;
}

footer .footer-col .social-icons .icons{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px 5px 0;
    color: hsl(0, 0%, 50%);
}

footer .footer-col-left{
    width: 48%;
}

footer .footer-col-left b {
    font-size: 18px;
    line-height: 27px;
}

footer .footer-col-right{
    width: 48%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

footer .footer-col-right h4, .footer-col-right ul li {
    font-size: 14px;
    line-height: 21px;
}


/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*Upload Image*/
/*.upload-image{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border: 2px dashed #C1DCDC;*/
/*    height: 150px;*/
/*    width: 370px;*/
/*    cursor: pointer;*/
/*    border-radius: 5px;*/
/*}*/
/*.uploaded-row{*/
/*    margin: 10px 0;*/
/*    display: flex;*/
/*    width: 350px;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 15px 20px;*/
/*    border-radius: 5px;*/
/*    background-color: #C1DCDC;*/
/*}*/

/*.upload-content{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*Filter*/
.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter label {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.filter label select {
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.filter input[type='number'] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100px;
}

.filter label span {
    margin-left: 0.5rem;
    color: #555;
}

.filter label select option {
    color: #333;
}
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*Pagination*/
.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.pagination li {
    margin: 0 5px;
}

.pagination li button {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.pagination li button:hover {
    background-color: #f1f1f1;
}

.pagination li.active button {
    background-color: #333;
    color: #fff;
}

/*--------------------------------------------------------------------*/

/* Media Queries */

/* Styles for screens up to 768px wide */
@media screen and (max-width: 768px) {
    .wrapper {
        /* Adjust styles for smaller screens */
        margin: 20px auto;
        font-size: 14px;
    }
}

/* Styles for screens between 769px and 1200px wide */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .wrapper {
        /* Adjust styles for medium-sized screens */
        margin: 30px auto;
        font-size: 16px;
    }
}

/* Styles for screens larger than 1200px wide */
@media screen and (min-width: 1201px) {
    .wrapper {
        /* Adjust styles for larger screens */
        margin: 50px auto;
        font-size: 18px;
    }
}
